<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Route list</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <!-- Header dùng chung -->
    <header th:replace="base :: header"></header>

    <main class="container mt-4">
        <h3 class="mb-3">Danh sách Trạm</h3>

        <a class="btn btn-primary mb-2" th:href="@{/stops/add}">+ Thêm Trạm</a>

        <form method="get" class="row mb-3">
            <div class="col-md-4">
                <input type="text" class="form-control" name="kw" th:value="${kw}" placeholder="Tìm theo tên trạm..."/>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="orderBy">
                    <option value="">-- Sắp xếp --</option>
                    <option value="id" th:selected="${orderBy == 'id'}">ID trạm</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success w-100">Lọc</button>
            </div>
        </form>

        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Mã</th>
                    <th>Tên trạm</th>               
                    <th style="width:140px"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r,stat : ${stops}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${r.code}"></td>
                    <td th:text="${r.name}"></td>
                    <td>
                        <a class="btn btn-sm btn-warning" th:href="@{|/stops/edit/${r.id}|}">Sửa</a>
                        <a class="btn btn-sm btn-danger" th:href="@{|/stops/delete/${r.id}|}"
                           onclick="return confirm('Xóa trạm này?');">Xóa</a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(stops)}">
                    <td colspan="5" class="text-center">Chưa có trạm nào</td>
                </tr>
            </tbody>
        </table>
        <!-- ======== Pagination ========= -->
        <div th:replace="base :: pagination(${currentPage}, ${pages}, ${kw}, ${orderBy})"></div>




    </main>

    <!-- Footer dùng chung -->
    <footer th:replace="base :: footer"></footer>
</body>
</html>
